
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/fraunces/v31/6NUh8FyLNQOQZAnv9bYEvDiIdE9Ea92uemAk_WBq8U_9v0c2Wa0K7iN7hzFUPJH58nib1603gg7S2nfgRYIctxuTB_7TtUs.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXpsog.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
    background-color: hsl(30, 38%, 92%);

 }
.block__pub__image {

    @media screen and (max-width: 375px) {
      &_large {
        display: none;
      }
      &_small {
        display: block; 
        width:345px;
        height:245px;
        border-radius: 5% 5% 0% 0%;
      }
    }
  
    @media screen and (min-width: 376px) {
      &_large {
        display: block;
        width:300px;
        height:450px;
        border-radius: 5% 0% 0% 5%;

    background-size: cover; 
      }
      &_small {
        display: none;
      }
    }
  }
  
  .block__pub {
    @media screen and (max-width: 375px) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      margin-top: 175px;
      margin-bottom: 175px;
      font-family:  'Montserrat';
    }
    @media screen and (min-width: 376px) {
    display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
    margin-top: 175px;
    margin-bottom: 175px;
    font-family:  'Montserrat';
    }
    &__image {
      max-width: 100%;
      height: auto;
      float: left;
       }
  
      &__product {
      
        @media screen and (min-width: 376px) {
      text-align: center;
      width:300px;
      height:450px;
      background-color: white;
      border-radius: 0% 5% 5% 0%;
        }
      @media screen and (max-width: 375px){
      text-align: center;
      width:345px;
      height:370px;
      background-color: white;
      border-radius: 0% 0% 5% 5%;
      }
    }
      
      
        &__product__titre{
      font-weight: 700;
      font-family: 'Fraunces';
      font-style: bold ;
        
    }
         &__product__price {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: center;
          align-content: center;
          margin-bottom: 0%;
       
      
      
    }
    &__product__price_reduce{
      font-weight: 700;
      font-family: 'Fraunces';
      font-size: 35px;
      color:hsl(158, 36%, 37%);
    }
    &__product__price_rod{
      text-decoration: line-through;
      font-size: 14px;
    }

    & h2{
      color:  hsl(228, 12%, 48%);
      }
    & p{
      color:  hsl(228, 12%, 48%);
      font-size: 14px;
      text-align: left;
      margin: 24px;

      line-height: 25px;
      font-weight: 500;
      
    }
    & button {
      
        margin-top: 10%;
        background-color: #433b3b;
        border: none;
        color: white;
        padding: 15px 75px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        border-radius: 8% ;
        
       
      
    }
  }
  